.numberplatePage {
  min-height: 100vh;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #0060BB;
}